<!-- 
   File name: about.ejs 
   Student’s Name: King Yin Pang
   StudentID: 301268737 
   Date: 2023-09-30 
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Information and Title -->
    <title>Personal Portfolio- About Me</title>
    
    <!-- Link to external stylesheet for styling the web page -->
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>

<body>

    <!-- Header Section: Contains logo, site title, and main navigation -->
    <header>
        <!-- Banner with Company Logo and Site Title -->
        <div class="banner">
            <a href="/index"><img src="images/company_logo.png" alt="Company Logo"></a>
            <h1>Personal Portfolio</h1>
        </div>
        
        <!-- Main Navigation -->
        <nav id="nav_menu">
            <ul>
                <!-- List of pages in the portfolio -->
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <section id="home">
        <div class="container">
            <!-- Personal Info: Contains image, name, and contact details -->
            <div class="self-info">
                <img src="images/Self-pic.JPG" alt="Self Photo">
                <h2>King Yin Pang</h2>
                <p>Phone: (437)-299-5361</p>
                <p>Email: <a href="mailto:marcopang7899@gmail.com">kpang10@my.centennialcollege.ca</a></p>
            </div>

            <!-- Description: A brief about the person and their credentials -->
            <div class="self-description">
                <h1>Self Introduction</h1>
                <p>I am King Yin Pang, currently a dedicated student at Centennial College, is specializing in Software Engineering Technician. With a rich background of over five years of professional experience in Hong Kong, I've always been at the forefront, embracing the latest industry trends and strategies. This proactive approach has consistently infused my work with fresh and innovative ideas. Beyond technical prowess, I pride myself on my managerial capabilities, honed over the years, which encompass expert team leadership, meticulous planning, and robust organizational skills.</p>

                <!-- Languages Known -->
                <h2>LANGUAGES</h2>
                <ul>
                    <li>ENGLISH</li>
                    <li>CANTONESE</li>
                    <li>MANDARIN</li>
                </ul>

                <!-- Link to Resume -->
                <h2>Check Out My Resume</h2>
                <p>Please click the picture below for pdf version</p>
                <a href="/docs/KingYinPangCV.pdf" target="_blank" class="btn"><img src="images/resume.png" alt="resume pic" style="width: 500px; height: auto;"></a>    
            </div>
        </div>
    </section>

    <!-- Footer Section: Contains copyright notice -->
    <footer>
        <p>Copyright © 2023 King Yin Pang</p>
    </footer>
</body>
</html>
